<ion-content>

  <div id="container">
    <img src="assets/img/cricStart_logo.png" />
  </div>
  <div class="padding">
    <div class="cicr_class">Are You CricWorhty?</div>
  </div>
  <div class="padding que_class">Question 3 / 5</div>
  <div class="padding ipl_class">Who is the most capped captain in IPL?</div>
  <div class="padding">

    <ion-radio-group [value]="selectradiobtn">
      <ion-row style="padding-top: 18px;" >
        <ion-col>
          <ion-label class="radio_label" [ngClass]="public == 'true' ?'radio_unselect' : 'radio_selectYellow'" >A. Virat Kohli</ion-label>
          <ion-radio  value="option1" mode="md" class="radio_class" (ionChange)="getValue($event)" [ngClass]="public == 'true' ?'radio_unselect' : 'radio_selectYellow'"></ion-radio><br>
        </ion-col>
      </ion-row>
      <ion-row style="padding-top: 18px;">
        <ion-col>
          <ion-label class="radio_label">B. Virat Kohli</ion-label>
          <ion-radio mode="md" value="option2" class="radio_class"></ion-radio><br>
        </ion-col>
      </ion-row>
      <ion-row style="padding-top: 18px;">
        <ion-col>
          <ion-label class="radio_label">C. Virat Kohli</ion-label>
          <ion-radio mode="md" value="option3" class="radio_class"></ion-radio><br>
        </ion-col>
      </ion-row>
      <ion-row style="padding-top: 18px;">
        <ion-col>
          <ion-label class="radio_label">D. Virat Kohli</ion-label>
          <ion-radio mode="md" value="option4" class="radio_class"></ion-radio><br>
        </ion-col>
      </ion-row>

    </ion-radio-group>


  </div>
</ion-content> 