#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 10%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.img_class{
  display: inline;
  margin: auto;
}
.img_set{
  padding-left: 5px;
}
.padding{
  padding: 18px 32px 0px 32px;
}
.cicr_class{
  color: var(--white);
  font-size: 25px;
  margin-top:25%;
  font-weight: 600;
}
.que_class{
  color: var(--white);
  font-size: 15px;
  margin-top:28px;
  font-weight: 600;
}
.ipl_class{
  color: var(--yellow);
  font-size: 22px;
  font-weight: 600;
  margin-top:28px;
}
.radio_class{
 float: right;
 color: var(--gray);
}
.radio_label{
  color: var(--gray);
 font-size: 18px;
}
.radio_selectYellow{
  color: var(--yellow);
}

