<ion-content>
  <div id="container">
    <img src="assets/img/logo.png" />
  </div>
  <div id="container1">
    <img class="img_class" src="assets/img/Logo_Label1.png" />
    <img class="img_set" src="assets/img/Logo_label2.png" />
  </div>
  <div class="loading_class"> Loading..  </div>
</ion-content> 