#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
#container1 {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 70%;
  transform: translateY(-50%);
}
#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.img_class{
  display: inline;
  margin: auto;
}
.img_set{
  padding-left: 5px;
}
.loading_class{
 color: var(--white);
 font-size: 15px;
 text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 85%;
  transform: translateY(-50%);
}