<ion-content>
  <div id="container">
    <img src="assets/img/cricStart_logo.png" />
   
  </div>
  <div class="padding">
    <div class="cicr_class">Are You CricWorhty?</div>
  </div>
  <div class="padding" >
    <p class="label_class">Many have played and lost (5,245 to be precise) this quiz, but now you have a chance to prove /your/ Worth. </p>
    <p class="label_class">The CricStrat game is open only to the craziest cricket fans and nerds. Think you know your IPL numbers and players really well?</p>
    <p class="label_class">Score 3 or more out of 5, and you shall be deemed CricWorthy!</p>
  </div>
  <div class="btn-label padding">
    <button class="btn-class" ion-button (click)="quizBtn()">Play Quiz to Find Out</button>
  </div>
</ion-content> 