#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 10%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.img_class{
  display: inline;
  margin: auto;
}
.img_set{
  padding-left: 5px;
}

.padding{
  padding: 18px 32px 0px 32px;
}
.cicr_class{
  color: var(--white);
  font-size: 25px;
  margin-top:25%;
  font-weight: 600;
}
.label_class{
  color: var(--white);
  font-size: 15px;
  font-weight: 600
}
.btn-label{
  padding-top: 22px;
.btn-class {
    width: 100%;
    background: var(--yellow);
    color: var(--black);
    font-weight: bold;
    border-radius: 8px;
    padding: 1.1rem 2rem;
    outline: none;
    cursor: pointer;
    height: 50px;
  }
}